<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сокращение ссылок</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<div class="container">
    <h2>Сокращение ссылок</h2>
    <form id="urlForm">
        <label for="originalUrl">Введите вашу ссылку:</label>
        <br>
        <input type="text" id="originalUrl" name="originalUrl" placeholder="https://www.example.com" required>
        <br>
        <input type="submit" value="Сократить">
    </form>
    <br>
    <div id="shortenedUrl"></div>
</div>

<script src="assets/script.js"></script>
</body>
</html>
