<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сокращение ссылок</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/script.js"></script>
</head>
<body>
<div class="header">
    <h1>ultraevs.ru</h1>
</div>
<div class="container">
    <h2>Сокращение ссылок</h2>
    <form id="urlForm">
        <label for="originalUrl">Введите вашу ссылку:</label>
        <br>
        <input type="text" id="originalUrl" name="originalUrl" placeholder="example.com" required>
        <br>
        <input type="submit" value="Сократить">
    </form>
    <div class="result-container">
        <div id="shortenedUrlContainer" class="url-container" style="display: none;">
            <div id="shortenedUrl" class="url-field"></div>
            <button id="copyButton" onclick="copyShortenedUrl()">Копировать</button>
        </div>
        <div class="social-icons">
            <!-- Логотипы соцсетей здесь -->
        </div>
    </div>

    <div class="history">
        <h3>История сокращений</h3>
        <ul id="historyList"></ul>
    </div>
</div>


</body>
</html>
